@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', ui-sans-serif, system-ui;
  --font-mono: 'JetBrains Mono', ui-monospace, monospace;
}

html,
body {
  background-color: #000000;
  color: #ffffff;
}
