.app-shell {
  display: flex;
  height: 100vh;
  width: 100%;
}

.app-main {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.app-topbar {
  position: sticky;
  top: 0;
  padding: 1.25rem 1.5rem;
  z-index: 5;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
}
